<!DOCTYPE html>
<head>
  <title>Contact Us</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../stylesheets/default.css">
</head>

  <header>
    <h1></h1>
  </header>

  <section class= "details">
    <h1> </h1>
  </section>

  <section class = "content">
    <p>
      Muni Newbie contact email: MuniNewb@gmail.com
      <br>
      <a href= "https://www.sfmta.com/contact">Muni Contact Information</a>
    </p>
  </section>

<footer>
Enjoy the Ride
</footer>
</body>
</html>
