<!DOCTYPE html>
<head>
  <title>First Time</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../stylesheets/default.css">
</head>

  <header>
    <h1></h1>
  </header>

  <section class= "details">
    <h1>How to Ride the Bus</h1>
  </section>

  <section class = "content">

    <a href= 'https://www.sfmta.com/getting-around/transit/how-ride/how-ride-buses'> SFMTA Transit</a>

    <h3> Finding your stop</h3>
      <a href= "http://tripplanner.transit.511.org/mtc/XSLT_TRIP_REQUEST2?language=en">Plan your trip using 511 Transit trip planner</a>
        <p>Arrive early. Buses have schedules and they will not wait for you.Make sure the bus driver can see you. That bench down the street may be tempting to rest at, but wait at your stop. Don't stand too close to the street.</p>

    <h3> Payment</h3>
        <p>The current fare for Adult riders is $2.25. Fees for youth, seniors, and disabled is $1. https://www.sfmta.com/getting-around/transit/fares-passes/single-rides-transfers

        Buying a clipper card. Buy it at any Walgreens, Whole Foods, or other retailers. Visitor Passes - 1, 3, or 7 consecutive days View the map of locations here:
        https://www.clippercard.com/ClipperWeb/map.do


        Keep your fare receipt/transfer at all times. Valid up to 90 minutes after purchase to transfer on other buses</p>

    <h3>Getting on the bus</h3>
        <p>Have exact payment ready (cash, clipper card)
        Wait until all exiting passengers are off the bus before climbing on.
        You can enter in the front or rear doors with a clipper card, or only through the front door with cash.
        If you are young, keep moving to the back of the bus.
        Sit down and enjoy the ride!</p>

    <h3>Exiting the bus</h3>
        <p>Pull the yellow stop cord before your stop.  Gather all of your belongings.  Wait until the bus comes to a complete stop, thank your bus driver, and then exit the bus.  Finish your walk to your destination, and have fun! </p>
      <!-- copy and paste as many sections as you want to add paragraphs -->
  </section>
  <section class = "side-panel">

</section>

<footer>

</footer>
</body>
</html>
