<!DOCTYPE html>
<head>
  <title>Muni Newbie</title>

</head>

  <header>
    <img src="../../../public/muni-logo.png" style="width:200px;height:200px">
    <div id="header">
        <a href="first_time.html.erb.html"><h1>First time</h1></a>
        <a href="riding_muni.html.erb.html"><h1>Riding the Muni</h1></a>
        <a href="../twilio/index.erb"><h1>Text Alert</h1>
        <a href="tips_tricks.html.erb.html"><h1>Tips and Tricks</h1></a>
        <a href="contact_us.html.erb.html"><h1>Contact</h1></a>
    </div>
  </header>



<div id="footer">
  Enjoy the Ride!
</div>
</body>
</html>
