<!DOCTYPE html>
<head>
  <title>Riding Muni</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../stylesheets/default.css">
</head>

  <header>
    <h1></h1>
  </header>

  <section class= "details">
    <h1>Special circumstances</h1>
  </section>

  <section class = "content">
    <h3>Riding with a bike</h3>
      <p>Most buses have bike racks.  If they are full, wait for the next bus. Do not place a bike on a full rack. It will fall off and it will break.  Just don't do it.</p>

    <h3>Riding with kids</h3>
      <p>Children under 4 ride free with an adult
      Youth price:$1
      Collapsible strollers may be brought on the bus
      Children may be left in their stroller, but make sure they are buckled in.
      BREATHE! Your kids will do better than you think. Soon, they will be expert travelers too!</p>

    <h3>Riding with animals</h3>
      <p>Service animals may ride for free. Small animals may ride in a closed carrier all day for the adult fare.  Large animals may ride during non peak hours for the adult fare.</p>

    <h3>Riding with disabilities</h3>
      <p>  Payment is $1
      Wheelchair lifts are in the front of the bus.  Most buses are equipped with the lifts. If your stop is not wheelchair accesible, the driver will find the closest safe spot to let you off.
      Using the lift - Make sure the bus driver can see you. Stay clear of the lift as it comes out.  You can board using a wheelchair forward or backward, but most people prefer backward. Make sure your wheels are locked before the lift starts to move. Warn other rides as you are coming through, to make sure you don't bump into anyone.
      https://www.sfmta.com/getting-around/transit/fares-passes/youthseniordisability-discounts</p>

    <h3>Riding with luggage</h3>
        <p>Small articles of luggage can be placed on laps. Larger items may not be allowed, but if you can squeeze it between your legs, you should be good to go.</p>



      <!-- copy and paste as many sections as you want to add paragraphs -->
  </section>


<footer>
Enjoy the ride!
</footer>
</body>
</html>
