<!DOCTYPE html>
<head>
  <title>Tips and Tricks</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../stylesheets/default.css">
</head>

  <header>
    <h1></h1>
  </header>

  <section class= "details">
    <h1> </h1>
  </section>

  <section class = "content">
    <h3>Bus Unspoken Rules</h3>
      <p>Set belongings on the floor between your legs so they don't bump into anyone.  Give up your seat to the elderly, disabled, pregnant, or really tired. Don't talk loudly on your cell phone or listen to music really loudly. Be courteous and respect others' space. Don't breathe on another person's neck.

      If it's after 6:30 pm, you can ask the driver to let you off between stops. San Francisco brings out a whole different crowd after dark, so be safe!

      Holidays free after 8. Don't drink and drive!

      Keep your belongings close to avoid any theft. Nothing will ruin your day faster than your wallet being stolen.</p>


    <h3>Muni Lost and Found</h3>
      <p>Lose Something? Submit a request here:
        <a href= "https://www.sfmta.com/getting-around/transit/muni-lost-found"> SFMTA Lost and Found</a></p>
      <!-- copy and paste as many sections as you want to add paragraphs -->
  </section>
  <section class = "side-panel">

</section>

<footer>

</footer>
</body>
</html>
