<<<<<<< HEAD

<h1>Hello!</h1>
 <p> Template</p>

 <%=button_to "New Trip", {action: "new"}, method: :get %>
=======
<h1>Hello!</h1>
<p> Template</p>

<%=button_to "New Trip", {action: "new"}, method: :get %>
>>>>>>> 41e25603152eaa621ca7a9cbc8b21187c2272cda
